20234331 김소정

In [ ]:
num = 15
if num >= 10:
  print("10보다 큽니다.")

10보다 큽니다.

In [ ]:
num2 = 10
if num2 % 2 == 0:
  print("짝수입니다.")
else:
  print("홀수입니다.")

짝수입니다.

In [ ]:
def number_check(num):
  if num % 2 == 0:
    print("짝수입니다.")
  else:
    print("홀수입니다.")

In [ ]:
number_check(10)

짝수입니다.

In [ ]:
number_check(11)

홀수입니다.

In [ ]:
def add_func(a, b):
  result = a + b
  return result

In [ ]:
num_a = 10
num_b = 15
minmax = add_func(num_a, num_b)
minmax

25

In [ ]:
def add_sub(a, b):
  result_add = a + b
  result_sub = a - b
  return result_add, result_sub

In [ ]:
a = 10
b = 20
c = add_sub(a,b)
c

(30, -10)

In [ ]:
d, e = add_sub(100, 200)
print(d)
print(e)

300
-100